@use '../../Foundation/variable' as v;

.c-box {
	height: 174px;
	background-color: v.$pt-color;
	opacity: 0.8;
	margin: 20px;

	h3 {
		font-size: 24px;
		font-weight: 700;
		padding: 22px 19px;
		color: #3C2A10;
	}

	p {
		font-size: 16px;
		padding-left: 19px;
		padding-bottom: 9px;
		color: #3C2A10;
		line-height: 1.4;
	}
}