@use "../../Foundation/variable" as v;


.c-formbox {
	background-color: v.$pt-color;
	width: 20rem;
	height: 3rem;
	outline: 0;
	background-color: #fff;
	border-radius: 0.6rem;
	border:solid 1px #707070;
	font-size: 1.6rem;
	font-weight: 500;
}

.c-button {
	width: 7rem;
	height: 3rem;
	background-color: #F2EDE9;
	border:solid 1px #707070;
	color: #707070;
	cursor: pointer;
}