@use "../../Foundation/variable" as v;

.p-searchform {
	margin-right: 1.8rem;
	position: relative;

	@include v.mq(tb) {
		margin-bottom: 2.5rem;
		margin-right: 0;
		display: flex;
	}

	i {
		position: absolute;
		left: 0.75rem;
		top: 0.5rem;
	}
}