@use "../../Foundation/variable" as v;

.p-front {
	img {
		height: 530px;
		background: no-repeat;
		background-size: cover;
		display: block;
	}
}

.p-front {
	p {
		font-size: 2.5rem;
		font-weight: 700;
		color: v.$pt-color;
		position: absolute;
		left: 86px;
		top: 448px;
	}
}


.p-front_middle {
	display: flex;
}

.p-front_section {
	position: relative;
	height: 1200px;
	width: 50%;
	background-size: cover;
	margin: 120px 0 134px 0;
	@include v.mq(tb) {
		margin: 40px 0 40px 0;
	}
}

img {
	height: 1196px;
}

.takeout {
	margin-right: 2%;
	margin-left: 7%;
}

.eatin {
	margin-left: 2%;
	margin-right: 7%;
}



.p-box {
	position: absolute;
	bottom: 0px;
}